@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');
.forms{
position: absolute;
left:0.5%;
width:69.5%;
height:600px;
}

#formplate{
  margin-left: 30px;
}
#header{
  position:relative;
  top:10%;
  left:300px;
  font-family: 'Titan One', cursive;
  font-size: 40px;
}
#smile{
  font-family: 'Kaushan Script', cursive;

}
#smilelogo{
  width:60px;
  height:80px;
}

#h3{
  margin-left: 30px;
}
#button{
position: relative;
left:35%;
margin-bottom: 30px;
}
body{
  height:600px;
  background-color: aqua;
}
#sparkslogo{
  position: relative;
  left: 3%;
}
#sparkslogoo{
  width: 500px;
  height:180px;
}
#email{
  text-decoration: none;
}
#contact{
  text-decoration: none;
}
#navbar{
  display:flex;
  flex-wrap: nowrap;
  background-image: linear-gradient(orange,white,green);
  height:25%;
}
#x{
  width: 70%;
}
.sideimage{
  position:absolute;
  left:70%;
  top:22%;
  right:0%;
}
#sideimage{
  height:600px;
  width:95%;
}
#gift{
  height:100px;
  width:100px;
  position: absolute;
  left:20%;
  top:50%;
}
#gift1{
  position: absolute;
  top:40%;
  left:20%;
}
#phonenumber{
  position: absolute;
  top:30%;
  left:40%;
}
#emailid{
  position: absolute;
  top:30%;
  left:80%;
}
#phonenumber1{
  position: absolute;
  top:20%;
  left:40%;
  
}
#emailid1{
  position: absolute;
  top:20%;
  left:80%;

}

#cards{
 size:40px;
 

}
#qnty{
  position:absolute;
  top:50%;
  left:50%;
}
#mode{
  position:absolute;
  top:40%;
  left:50%;

}
#name{
  font-size: 30px;
}